

<style>

  body
  {
    background-color:black;

    background:black;
  }


  button.sidr-class-ob-add-button
  {

    position:relative;

    display:inline-block;

    width:30px;

    height:30px;

    max-width:30px;

    max-height:30px;

    font-size:150%;

    text-align:center;

    background: transparent; /* Old browsers */

       border: none;
    color:darkorange;

    vertical-align: middle;

    float:right;

    line-height:30px;

    padding: 0px;


    bottom:42px;

  }


  button.sidr-class-ob-add-button:hover
  {


    color:lightseagreen;


  }




</style>

<nav class="object-browser" style="display:none;">
  <h4>Object Directory</h4>
  <ul class="classSample">
    <li><a class="games" href="#">Games</a><button class="ob-add-button">+</button>

      <ul class="classSample">

        <li><a class="game" href="#">Game 1</a></li>

        <li><a class="game" href="#">Game 2</a></li>

      </ul>

    </li>
    <li><a class="levels" href="#">Levels</a><button class="ob-add-button">+</button></li>
    <li><a class="object2ds" href="#">Object2d</a><button class="ob-add-button">+</button></li>
    <li><a class="object3ds" href="#">Object3d</a><button class="ob-add-button">+</button></li>
    <li><a class="animations" href="#">Animations</a><button class="ob-add-button">+</button></li>
    <li><a class="Motions" href="#">Motions</a><button class="ob-add-button">+</button></li>
    <li><a class="Sounds" href="#">Sounds</a><button class="ob-add-button">+</button></li>
    <li><a class="Images" href="#">Images</a><button class="ob-add-button">+</button></li>
    <li><a class="SoundFilterSequences" href="#">SoundFilterSequences</a><button class="ob-add-button">+</button></li>
    <li><a class="ImageFilterSequences" href="#">ImageFilterSequences</a><button class="ob-add-button">+</button></li>
    <li><a class="EventComboCalls" href="#">EventComboCalls</a><button class="ob-add-button">+</button></li>

  </ul>
</nav>
